/*Sukrish Gokulakrishnan
  Student ID: 301226286*/

/*custom css goes here*/
/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/

.projectList a {
  color: rgb(70, 70, 70);
  text-decoration-line: none;
}

.projectList ul :hover{
  color: black;
  font-size: 125%;
}

.projectList a:hover{
  color: black;
  font-size: 115%;
  text-decoration-line: underline;
}