/*Sukrish Gokulakrishnan
  Student ID: 301226286*/

/*custom css goes here*/

.allPage {
  background-image: url("../Assets/images/doodleImage.jpg");
  background-repeat: repeat;
  background-color: rgba(211, 211, 211, 0.918);
  background-blend-mode: color;
}

.jumbotron {
  margin-left: 25%;
  margin-right: auto;
}

.projectList a {
  color: rgb(70, 70, 70);
  text-decoration-line: none;
}

.projectList ul:hover{
  color: black;
}

.projectList a:hover{
  color: black;
  font-size: 125%;
  text-decoration-line: underline;
}

.mailA a {
  color: rgb(70, 70, 70);
  text-decoration-line: none;
}

.mailA a:hover{
  color: black;
  font-size: 115%;
  text-decoration-line: underline;
}

.senderName {
  resize: none; 
  width: 400px
}

.contactMessage {
  resize:none; 
  height: 200px; 
  width: 50%;
}

#spaceShooter {
  position: absolute; 
  margin-top: 10%; 
  margin-left: 5%; 
  height: 150px; 
  width: auto;
}

#portfolioPage {
  position: absolute; 
  margin-top: 10%; 
  margin-left: 75%; 
  height: 150px; 
  width: auto;
}


.caption div {
  visibility: hidden;
  width: 120px;
  background-color: gray;
  color: #fff;
  text-align: center;
  padding: 2px 0;
  border-radius: 6px;
  position: absolute;
}

.caption:hover div {
  visibility: visible;
}